<html>
<head>

    <meta charset = "UTF-8">
    <!-- So that it can be viewed on smaller devices as well: -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PDF Question Answerer</title>

</head>

<body style = "background: #332722">
    <div class = "login">
        <h1 style = "color: #f3db93; text-align: center;">Extractive PDF Question Answering</h1><p>
        <h4 style = "color: #f3db93; text-align: center;">Upload a PDF and click on Submit</h4>

        <!--Now we will use the 'post' method. This allows for the data to be communicated
            between the client and server.-->
        <form action = "/" method = "post" enctype='multipart/form-data'>
            <input type = "text" name = "question" placeholder="Please type in your query" required = "required" /><br> <!-- this is a line break-->
            <h4 style = "color: #f3db93;">
                Please upload your PDF file here:
            </h4>
            <!-- PDF Uploading -->
            <p style="color: #45a2d3;">
                <input type="file" name="file" autocomplete="off" required>
            </p>
            
                <input type="submit" name="submit" value = "Submit and Predict">

        </form>

        <br>
        <p style = "color: #f3db93;">
            <!-- Note that when a file is detected, we get 2 flashed messages, which we display here -->
            {% with flashed_messages = get_flashed_messages()%}
              {% if flashed_messages %}

                <u><h4 style = "color: #f3db93;" >The extracted answer is: {{ flashed_messages[0] }}</h4></u>
                File name: {{ flashed_messages[1] }}

              {% endif %}
            {% endwith %}
        </p>
    </div>

</body>
</html>